body {
	background-color: #2e2f27;
	color: white;

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#main {
}

.bookmarks {
	margin-top: -10px;
}

.bookmarks-category {
	margin: 10px 0px;
	padding: 10px;
	padding-bottom: 40px;

	background-color: #272822;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.bookmarks-category-title {
	margin-bottom: 5px;

	font-size: 1.5em;
}

.bookmarks-links {
	text-align: center;
}


.bookmarks-links-element {
	position: relative;
	width: 100px;
	height: 100px;

	margin: 5px;

	display: inline-block;
	overflow: hidden;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}

.bookmarks-links-element img {
	width: 100px;
	height: auto;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bookmarks-links-element-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	overflow: hidden;

	text-align: center;

	background: rgba(0,0,0,0.5); 
	color: #FFF;

	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.login {
	max-width: 300px;
	margin: auto;
	margin-top: 40px;
	padding: 20px;

	border-radius: 5px;
    background-color: #f2f2f2;

    color: black;
}

.login-title {
	font-weight: bold;
	font-size: 1.2em;
}

.login form {
	text-align: center;
}

.login input[type=text], .login input[type=password] {
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 5px;
	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.login input[type=submit] {
	margin-top: 8px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.login input[type=submit]:hover {
    background-color: #d9d9d9;
}

.disconnect {
	padding: 8px;

	float: right;

	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
}

.disconnect a {
	text-decoration: none;

	color: #FFF;
}

.disconnect a:hover {
	color: #990000;
}

@media only screen and (max-width: 500px) {
	.bookmarks-links-element {
		width: 60px;
		height: 60px;
 	}

 	.bookmarks-links-element img {
		width: 60px;
		height: auto;

		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
}